.button {
	background-color: var(--bg--color);
	color: inherit;
	cursor: pointer;
	border: 1px solid var(--text-color);
	border-radius: 2px;
	padding: 4px 8px;
	transition: all 0.3s ease;
}
.button:hover {
	color: var(--hover-btn-color);
}

.closeBtn {
	font-weight: 600;
	border: none;
	border-radius: 24px;
	background-color: var(--yellow-color);
	padding: 8px 14px;
}

.closeBtn:hover {
	color: var(--text-color);
}
