:root {
	--bg-color: #272727;
	--text-color: #747474;
	--orange-color: #ff652f;
	--yellow-color: #ffe400;
	--green-color: #14a76c;

	--footer-height: 60px;
	--header-height: 80px;

	--content-width: 960px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
}

ul {
	list-style: none;
}
