:root[data-theme='light'] {
	--bg-color: #eae7dc;
	--text-color: #8e8d8a;
	--post-title: #e98074;

	--hover-btn-color: #14a76c;
}

:root[data-theme='dark'] {
	--bg-color: #272727;
	--text-color: #747474;
	--post-title: #14a76c;
	--hover-btn-color: #ffe400;
}

:root {
	--orange-color: #ff652f;
	--yellow-color: #ffe400;

	--footer-height: 60px;
	--header-height: 80px;

	--content-width: 960px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
}

ul {
	list-style: none;
}
