.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: var(--header-height);
	box-shadow: 0 0 16px rgb(199, 199, 199, 0.5);
	background-color: var(--bg-color);
	padding: 16px 0;
}
